language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm

matrix:
  allow_failures:
    - php: hhvm

before_script:
  - composer --prefer-source --dev install

script: bin/phpunit

notifications:
  irc: "irc.freenode.org#fsi-open"
